* {
  padding: 0;
  margin: 0;
}
html, body {
  height: 100%;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
  margin-top: 0;
}
h3 {
  color: #FF5722;
}
body {
  /*font-family: 'Cabin', sans-serif;*/
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: 'Roboto', sans-serif;

  font-size: 16px;
  line-height: 1.556;
  color: #333;
}
a {
  color: inherit;
}
p {
  margin:0 0 1em 0;
}
sup {
  font-size: 0.5em;
}
img {
  max-width: 100%;
}
strong {
  font-weight: 600;
  /*font-weight: normal;*/
}
.small {
  font-size: 0.85em;
}
.page {
  /*position: fixed;*/
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  overflow: auto;
  /*display: none;*/
}
/*.page:after {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  height: 4em;
  content: " ";
  background: -webkit-gradient(linear, left top, left bottom,
                               from(rgba(204, 204, 204, 0)),
                               to(#000));
  z-index: 4;
  opacity: 0.5;
}*/
.page.is-active {
  display: block;
}
.section {
  /*text-align: center;*/
  position: relative;
  z-index: 2;
  min-height: 100%;
  box-sizing: border-box;
}
.section-inner {
  position: relative;
  z-index: 2;
  overflow: auto;
  /*min-height: 100%;*/
  padding: 2em 2em;
}
.section + .section .section-inner {
  /*padding: 1em 0;*/
}
.nav-global {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.5em 0;
  color: #fff;
  /*box-shadow: 0 0 10px #000;*/
  z-index: 2000;
  font-size: 0.9em;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}
.nav-global ol {
  list-style: none;
  overflow: hidden;
}
.nav-global li {
  display: inline-block;
  vertical-align: middle;
}
.nav-global a {
  color: inherit;
  padding: 0 1em;
  display: inline-block;
  box-sizing: border-box;
}
.nav-global a.gradient-icon {
    height:30px;
    width:35px;
    padding:0;
    background:linear-gradient(to bottom, #C6E2D1 0%, #fff 20%, transparent 20%, transparent 40%, #C6E2D1 40%, #C6E2D1 60%, transparent 60%, transparent 80%, #C6E2D1 80%, #C6E2D1 100%);
}
.nav-item.is-active {
  color: #C6E2D1;
  font-weight: bold;
  text-decoration: none;
}
.nav-item em {
    color: #f0b61a;
    font-size: 0.7em;
    position: absolute;
    transform: translate(-50%, 30%);
}
.nav-global .nav-mobile,
.nav-global.minimize li {
  display: none;
}
.nav-global.minimize li:nth-child(7) ~ li {
  display: inline-block;
  float: right;
  margin-right: 0.5em;
}
.nav-global.minimize .nav-mobile {
  float: left !important;
  margin-left: 1em;
}
.nav-global.expand {
  bottom: 0;
}
.nav-global.expand li a,
.nav-global.expand li {
  display: block;
}
.nav-global.expand a {
  padding: 0.5em 0;
}
.page-title {
  /*color: #C6E2D1;*/
  /*color: #c1b9a4;*/
  /*color: #e84347;*/
  /*color: #1fa1b1;*/
  color: #f3bd2b;
  /*font-weight: 400;*/
  /*font-family: 'Finger Paint', cursive;*/
  /*font-family: 'Flamenco', cursive;*/
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  font-size: 5em;
  line-height: 0.8;
  max-width: 100%;
  padding: 0;
  margin: 0;
  line-height: 1.56;
  /*padding-top: 0.5em;*/
  /*margin-bottom: 0.5em;*/
  /*text-shadow: 0 0 10px rgba(0,0,0,0.2);*/
  /*text-transform: uppercase;*/
  /*text-shadow: 4px 3px 0px #735a58, 6px 5px 0px rgba(198, 226, 209, 0.7);*/
}
.page-subtitle {

}
.intro-title,
.intro-subtitle {
  margin-bottom: 0;
  line-height: 1;
  width: 100%;
  text-indent: -999em;
}
.lineup-entries {
  list-style: none;
  margin: 2em 0;
  text-align: center;
}
.staff-entries {
  font-size: 0.85em;
}
/*.facilities-entries,
.timetable-stages {
  overflow: hidden;
}*/
.lineup-entry {
  display: inline-block;
  margin: 0.5em;
  width: 12em;
  vertical-align: top;
  line-height: 1;
}
/*.facilities-entry,*/
.staff-entry,
.timetable-stage {
  display: inline-block;
  /*width: 20em;*/
  width: 33%;
  max-width: 100%;
  padding: 0 2%;
  vertical-align: top;
  box-sizing: border-box;
}
.facilities-entry dt,
.timetable-stage dt,
.staff-entry dt {
  /*font-weight: bold;*/
  font-size: 1.3em;
  margin-bottom: 0.5em;
  color:#444;
  /*color: #C6E2D1;*/
  /*color: rgba(0, 0, 0, 0.7);*/
  /*color: #f0b61a;*/
  /*background-color: rgba(0, 0, 0, 0.3);*/
}
.location-content,
.experiences-entries,
.facilities-entry  {
  column-count: 3;
}
.experiences-entry,
.location-content > div,
.facilities-entry > div {
  break-inside: avoid;
  margin-bottom: 1.5em;
}
.facilities-entry-health {
    background-color: rgba(255, 127, 80, 0.69);
    padding: 2em;
    font-size: 0.8em;
    margin: 2em -1em;
}
.facilities-entry {
  margin-bottom: 2em;
}
/*.facilities-entry dd h3 {
  break-after: avoid;
}
.facilities-entry dd h3 + * {
  break-before: avoid;
}*/
.staff-entry dd,
.facilities-entry dd {
  text-align: left;
}
.staff-entry dd p,
.facilities-entry dd p {
  margin-bottom: 0;
}
.staff-entry {
  /*width: 17em;*/
}
.staff-entry a {
  color: inherit;
}

.timetable-day {
  overflow: auto;
  margin: 0 0 4em 0;
  border-top: 2px solid #fff;
  /*padding: 0 0 1em 0;*/
  /*border-bottom: 1px solid #ccc;*/
}
.timetable-day-info,
.timetable-stage {
  float: left;
  width: 20%;
}
.timetable-day-name {
    color: #e84347;
}
.timetable-stages {

    /*max-width: 860px;
    margin: 0 auto;*/
}
.timetable-stage {
  padding: 0;
  text-align: center;
  border-right: 2px solid #fff;
  /*margin-right: 0.5%;
  background-color: rgba(255,255,255,0.2);*/
}
.timetable-stage:last-child {
  border-right: none;
  /*margin-right: 0;*/
}
.timetable-stages + .page-title {
  /*margin-top: 1em;*/
}
.timetable-stage dt {
  background-color: rgba(232, 67, 71, 0.64);
  color: #fff;
  padding: 0.3em 0.6em;
  box-sizing: border-box;
}
.timetable-stage dd {
  margin: 1em 0;
  line-height: 1.3;
}
.timetable-stage a {
  /*text-transform: lowercase;*/
}

.timetable-entry-artist-label,
.timetable-entry-time {
  font-size: 0.8em;
  display: inline-block;
}
.sponsors-entry {
  display: inline-block;
  vertical-align: middle;
}
/*#intro .section:after {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  content: " ";
}*/
#about .text p {
  text-align: left;
}
.text p strong {
/*  color: #C6E2D1;
  padding: 0 0.4em;

  background-color: rgba(0, 0, 0, 0.4);
*/}
.lineup-entry-name {
  display: block;
  /*font-size: 1.2em;*/
  background-color: rgba(0, 0, 0, 0.4);
  text-decoration: none;
  position: relative;
  font-weight: bold;
}
.lineup-entry-name:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.3);
  transition: background 300ms;
}
.lineup-entry-name:hover:before {
  background-color: transparent;
}
.lineup-entry-name img {
  display: block;
  width: 100%;
  height: 100%;
  vertical-align: top;
}
.lineup-entry-label {
  font-size: 0.8em;
  text-transform: uppercase;
  display: inline-block;
  margin: 0.2em 0.5em;
  font-style: normal;
}
.lineup-page .lineup-entry-label:first-child,
#lineup .lineup-entry-label:nth-child(2) {
  color: #fff;
}
.lineup-page .lineup-entry-label:first-child:before,
#lineup .lineup-entry-label:nth-child(2):before {
  content: "(";
}
.lineup-page .lineup-entry-label:first-child:after,
#lineup .lineup-entry-label:nth-child(2):after {
  content: ")";
}
.page-subtitle {
  font-size: 1.45em;
  color: #673F46;
  line-height: 1;
  font-weight: normal;
}
h2.page-subtitle {
  text-align: center;
}
.lineup-page-links {
  margin: 2em 0 0 0;
}
.lineup-page .section:first-child:before {
  content: " ";
  position: absolute;
  top: 2.4em;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #91AA9B;
  opacity: 0.8;
}
#tickets .text,
#volunteer .text,
/*#location .text,*/
#about .text,
.lineup-page .text {
  max-width: 32em;
  margin: 0 auto;
}
#location .text {
  /*max-width: 90%;*/
  margin: 0 auto;
}
#tickets .text.small {
  text-align: left;
  font-size: 0.65em;
}
#tickets .text.small ol {
  /*list-style: none;*/
}
#about .text em {
  font-weight: bold;
  font-style: normal;
}
.pricelist-entries {
  margin-top: 2em;
}
.headroom {
  transition: transform 200ms linear;
}
.headroom--pinned {
  transform: translateY(0%);
  background-color: rgba(0, 0, 0, 0.1);
}
.headroom--unpinned {
  transform: translateY(-100%);
  background-color: rgba(0, 0, 0, 0);
}
.location-map {
  max-width: 100%;
  position: relative;
  line-height: 1;
}
.location-map a:before {
  content: " ";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
.location-map a {
  line-height: 1;
  display: block;
  position: relative;
}
.location-map a span {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  text-decoration: underline;
  transform: translate(-50%, -50%);
}
.location-map img {
  display: block;
  width: 100%;
}
/*.col-left {
  float: left;
  clear: left;
}
.col-right,
.col-left {
  text-align: left;

  width: 47%;
}
.col-right {
  float: right;
  clear: right;
}*/
.clear {
  float: none;
  clear: both;
}

#intro {
  height: 100%;
  background-image: linear-gradient(to bottom, #1B8F9D 0, #7E9D97 13%, #BFB9A6 86%, #E7BB90 94%, #EFB176 100%);
}

#hero {
  background-image:
     url("images/site/shadow.png"),
    url("images/site/flare.png"),
    url("images/site/banana-hand.png");
  background-position: left top;
  background-blend-mode: screen;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 0;
}
#lineup, .lineup-page {
  display: none;
}

#timetable {
  background-color: #fffaf0;
}
#tickets {
  background-color: #f0f8ff;
}
#location {
  background-color: rgba(198, 226, 209, 0.65);
}
#facilities {
  background-color: rgba(241, 225, 203, 0.46);
}
#connect {
  background-color: rgba(52, 177, 241, 0.32);
}
#connect .page-title {
  font-size: 2em;
}
.connect-newsletter {
  text-align: center;
}
