* {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    margin-top: 0;
}

h3 {
    color: #fff;
    text-transform: uppercase;
    margin: 0 0 1em 0;
    line-height: 1.2;
}

h3 a {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.556;
    color: #fff;
    background-color: #1B8F9D;
}

body,
.is-modal {
    background-image: linear-gradient(to bottom, #1B8F9D 0, #7E9D97 13%, #BFB9A6 86%, #E7BB90 94%, #EFB176 100%);
    background-attachment: fixed;
}

a {
    color: inherit;
}

p {
    margin: 0 0 1em 0;
}

sup {
    font-size: 0.5em;
}

img {
    max-width: 100%;
}

strong {
    font-weight: 600;
}

ol {
    margin-left: 1em;
}

input {
    font: inherit;
    padding: 0.2em 0.4em;
}

/************************************************
 * generic classes
 /***********************************************/
.small {
    font-size: 0.85em;
}

/* columns */
.columns {
    column-count: 3;
}

.columns-item {
    margin-bottom: 1.5em;
    break-inside: avoid;
    box-sizing: border-box;
    vertical-align: top;
    display: inline-block;
}

.columns-item h3,
.columns-item strong {
    color: #14626b;
    font-weight: bold;
}

.btn {
    background-color: rgba(68,148,154,.53);
    padding: .5em 1em;
    letter-spacing: 1px;
    font-size: .9em;
    border: 0;
    color: #fff;
    cursor: pointer;
}

/************************************************
 * page
 /***********************************************/
.page {
    overflow: auto;
}

.page-title {
    font-family: 'Changa One', sans-serif;
    color: #14626b;
    text-shadow: 2px -2px 1px rgba(0, 0, 0, 0.22);
    font-weight: 300;
    text-transform: uppercase;
    font-size: 4em;
    max-width: 80%;
    padding: 0;
    margin: 0 0 15px 0;
    line-height: 1;
}

.page-subtitle {
    font-size: 1em;
    color: rgba(251, 251, 251, 0.75);
    line-height: 1;
    font-weight: normal;
    margin: 0 0 2em 0;
    text-transform: uppercase;
}

/************************************************
 * section
 /***********************************************/
.section {
    position: relative;
    z-index: 2;
    min-height: 100%;
}

.section-inner {
    position: relative;
    z-index: 2;
    overflow: auto;
    padding: 2em 2em;
    box-sizing: border-box;
}

/************************************************
 * nav-global
 /***********************************************/
.nav-global {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0.5em 0;
    color: #fff;
    z-index: 2000;
    font-size: 0.9em;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0);
}

.nav-global ol {
    list-style: none;
    overflow: hidden;
}

.nav-global li {
    display: inline-block;
    vertical-align: middle;
}

.nav-global a {
    color: inherit;
    padding: 0 1em;
    display: inline-block;
    box-sizing: border-box;
}

.nav-global a.gradient-icon {
    height: 25px;
    width: 30px;
    padding: 0;
    background: linear-gradient(to bottom, #C6E2D1 0%, #fff 20%, transparent 20%, transparent 40%, #C6E2D1 40%, #C6E2D1 60%, transparent 60%, transparent 80%, #C6E2D1 80%, #C6E2D1 100%);
}

.nav-item.is-active {
    color: #C6E2D1;
    font-weight: bold;
    text-decoration: none;
}

.nav-item em {
    color: #f0b61a;
    font-size: 0.7em;
    position: absolute;
    transform: translate(-50%, 30%);
}

.nav-global .nav-mobile,
.nav-global.minimize li {
    display: none;
}

/* social icons */
.nav-global.minimize li:nth-child(7) ~ li {
    display: inline-block;
    float: right;
    margin-right: 0.5em;
}
.nav-global.minimize li:nth-child(7) ~ li a {
    background-color: inherit;
    padding: 0;
}
.nav-global.minimize .nav-mobile {
    cursor: pointer;
    float: left !important;
    margin-left: 1em;
}

.nav-global.expand {
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.nav-global.expand li a {
    max-width: 60%;
    margin: 0.5em auto;
    padding: 1em 0;
    background-color: rgba(255,255,255,0.2);
    text-decoration: none;
}
.nav-global.expand li a ,
.nav-global.expand li {
    display: block;
}

.nav-global.expand a {
    padding: 0.5em 0;
}


/************************************************
 * timetable
 /***********************************************/
.timetable-day {
    overflow: auto;
    margin: 0 0 4em 0;
    text-transform: uppercase;
}

.timetable-day-info {
    float: left;
    width: 19%;
}

.timetable-day-name {
    color: #fff;
}

.timetable-stages {
    column-count: 3;
}

.timetable-stage {
    break-inside: avoid;
    box-sizing: border-box;
    vertical-align: top;
    display: inline-block;
    width: 100%;
    margin-bottom: 1em;
    background-color: rgba(198, 226, 209, 0.35);
}

.timetable-stage dt {
    background-color: rgb(198, 226, 209);
    color: #14626b;
    padding: 0.3em 0.6em;
    box-sizing: border-box;
    text-align: center;
    font-weight: bold;
}

.timetable-stage dd {
    margin: 1em 0;
    padding: 0 1em;
    line-height: 1.3;
    color: #fff;
}

.timetable-stage a {
    color: inherit;
}

.timetable-entry-artist-label,
.timetable-entry-time {
    font-size: 0.8em;
    display: inline-block;
    color: rgba(255, 255, 255, 0.7);
}

/************************************************
 * sponsors
 /***********************************************/
.sponsors img {
    display: block;
    margin: 0 auto;
}

.embed iframe,
.embed iframe {
    width: 100%;
}


/************************************************
 * Experience & Lineup Page
 /***********************************************/
.experience-page-content,
.lineup-page-content {
    margin: 2em 0;
    overflow: hidden;
}

.experience-page .text,
.lineup-page .text {
    float: left;
    width: 49%;
}

.experience-page .embed,
.lineup-page .embed {
    float: right;
    width: 49%;
}

.lineup-entry-label {
    text-transform: uppercase;
    display: inline-block;
    margin: .2em .5em  0 0;
    font-style: normal;
}

.headroom {
    transition: all 200ms;
}
.headroom--pinned {
    transform: translateY(0%);
    background-color: rgba(19, 90, 99, 0.7);
}
.headroom--unpinned {
    transform: translateY(-100%);
}
.headroom--top {
}
.headroom--top {
    opacity: 0.5;
    background-color: rgba(0, 0, 0, 0);
}
.headroom--top:hover {
    opacity: 1;
}

.location-map {
    overflow: auto;
    margin-bottom: 2em;
}

.location-map iframe {
    width: 73%;
    float: left;
}

.location-map img {
    float: right;
    max-width: 25%;
    max-height: 460px;
}

.clear {
    float: none;
    clear: both;
}

#intro {
    height: 100%;
}
#intro-date {
    position: absolute;
    top: 260px;
    right: 12%;
    background: rgba(34, 34, 34, 0.25);
    border-radius: 20px;
    box-sizing: border-box;
}


#hero {
    background-image: url("/images/large/site/flare.png"), url("/images/large/site/banana-hand.png"), url("/images/large/site/shadow.png"), linear-gradient(to bottom, #1B8F9D 0, #7E9D97 13%, #BFB9A6 86%, #E7BB90 94%, #EFB176 100%);
    background-blend-mode: screen, normal, multiply;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center top;
    z-index: 0;
}

#lineup {
    display: none;
}

#connect {
    text-align: center;
}

#connect .page-title {
    font-size: 2em;
    margin: 0.5em auto;
}

.experiences-entry {
    position: relative;
    background: none;
    transform: translate3d(0,0,0);
    transform-origin: 50% 50%;
}

.experiences-entry:hover {
    animation: experiences 1s ease-in-out infinite alternate;
}

.experiences-entry h3 {
    font-size: 1em;
    line-height: 1;
    /* position: absolute; */
    margin: 0;
    background-color: rgb(198, 226, 209);
    color: #14626b;
    padding: 0.3em 0.6em;
    box-sizing: border-box;
    text-align: center;
    font-weight: bold;
}
.experiences-entry img {
    width: 100%;
}

.experiences-entry-text {
    font-size: 0.85em;
}

.experiences-entry p ~ p {
    display: none;
}

.help-text {
    font-size: 0.8em;
}


.is-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3333;
    display: none;
    opacity: 0;
    transition: all 200ms;
}

.is-modal .page-title {
    margin-top: 16px;
    font-size: 3em;
}

.is-modal .section-inner {
    max-width: 1000px;
}

.is-modal .columns {
    column-count: 2;
}
.is-modal .columns-item {
    display: inline-block;
}

.modal-close {
    display: none;
    cursor: pointer;
    position: fixed;
    z-index: 4444;
    right: 1em;
    top: 1em;
    line-height: 1em;
    color: #fff;
    font-style: normal;
    font-size: 3em;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    background: rgba(0, 0, 0, 0.2);
    padding: 8px 20px;
    border-radius: 50%;
}

.modal-visible {
    overflow: hidden;
}

.modal-visible .is-modal--active {
    display: block;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.6);
}

.modal-visible .modal-close {
    display: block;
}

.modal-visible .nav-global {
    z-index: 9999999;
    font-size: 0.8em;
}

#about__credits .columns-item p {
    margin-bottom: 0.5em;
}

#get-tickets {
    text-decoration: none;
    position: fixed;
    z-index: 50000;
    background-color: #ce0000;
    color: #fff;
    border-radius: 50%;
    bottom: 2em;
    right: 2.5em;
    display: block;
    padding: 0.5em;
    height: 30px;
    width: 30px;
    transition: all 100ms;
    transform: translate3d(0,0,0);
    transform-origin: 0 0;
    animation: tickets 2s ease-in-out infinite alternate;
}
#get-tickets:hover {
    transform: rotate(-10deg);
}


#get-tickets span {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -1em;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #000;
    font-weight: bold;
    font-size: 1.3em;
}

#intro .page-title {
    display: none;
}
#info-map {
    width: 90%;
    display: block;
}

@media all and (max-width: 789px) {
    .columns {
        column-count: 2;
    }
    .timetable-day-info {
        float: none;
        width: auto;
        display: block;
    }
    .timetable-stages {
        column-count: 2;
    }
}

@media all and (max-width: 599px) {
    .is-modal .page-title, .modal-close {
        font-size: 2em;
    }
    .modal-close {
        padding: 8px 16px;
    }
    .timetable-stages,
    .columns {
        column-count: 1 !important;
    }

    .page-title {
        font-size: 3em;
    }
    .page-subtitle {
        font-size: 1em;
    }
    .experience-page .text,
    .lineup-page .text,
    .experience-page .embed,
    .lineup-page .embed {
        margin: 0 0 1em 0;
        float: none;
        width: 100%;
    }
}
@media all and (min-width: 500px) and (max-width: 1399px) {


}
@media all and (min-width: 1400px) {

}
@keyframes tickets {
    0% {
        transform: scale(1.0);
    }
    100% {
        transform: scale(1.2) rotate(-10deg);
    }
}

@keyframes experiences {
    0% {
        transform: rotate(-1deg);
    }
    100% {
        transform: rotate(1deg);
    }
}
